@font-face {
    font-family: Doggy;
    src: url("font/GOODDC__.TTF");
}
@font-face {
    font-family: DogIcon;
    src: url("font/candog_icon.ttf");
}
@font-face {
    font-family: TinDog;
    src: url("font/TinDog_body.ttf");
}

/* #DCDCDC light grey
    #2b2b2b dark grey
    #FB5706 orange
    #91cf97 green */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #EBE5D8;
}

/* header */
#top_image {
    background: url("../images/black_dog.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#top_page {
    font-family: Doggy, Verdana, monospace;
    width: 100%;
    color: #FB5706;
    margin: 20px;
}

#top_page h1 {
    font-size: 170px;
    letter-spacing: 3px;
}

#top_page h2 {
    font-size: 95px;
    letter-spacing: 2px;
}

/* menu bar */
#main_menu {
    font-family: Doggy, Verdana, monospace;
	background-color: #1A2B00;
    font-size: 40px;
	text-align: center;
	padding: 1px;
}

#main_menu ul {
    margin: 10px;
}

#main_menu li {
    display: inline;
    list-style-type: none;
    padding-left: 30px;
}

#main_menu i {
    color: #FB5706;
    font-size: 28px;
}

.active {
    color: #FB5706;
}




.who_we_are, .positive_training {
    background-color: white;
    width: 680px;
    height: 360px;
    padding: 25px;
    margin: auto 25px;
    position: relative;
    display: inline-block;
}

.who_we_are {
    float: right;
    margin-top: -18px;
}

.positive_training {
    float: left;
}

.main_page_contact {
    float: left;
    background-color: white;
    width: 680px;
    height: 130px;
    padding: 25px;
    margin: 40px;
    position: relative;
    left: 400px;
    font-weight: bolder;
    font-size: large;
    color: #2b2b2b;
}

.clear_float {
    clear: both;
}

.text_justify {
    text-align: justify;
}

.text_center{
    text-align: center;
}

.text_right {
    text-align: right;
}

.text_upper {
    text-transform: uppercase;
}

/* links - general rule */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #FB5706;
}

/* footer */  
footer {
    font-family: Doggy, Verdana, monospace;
    background-color: #1A2B00;
    color: #FB5706;
    font-size: xx-large;
    letter-spacing: 2px;
	padding: 15px;
    margin: 15px;
}

footer nav, footer div {
    padding: 5px;
}

#font {
    font-family: Verdana, monospace;
    font-size: x-large;
}

/* form */

.booking_form {
	width: 750px;
	padding: 25px;
	border-radius: 8px;
	margin: 25px auto;
	background-color: white;
}

/*.doggy_img {
    background-image: url("../images/dog_sniff.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.booking_img {
    width: 250px;
    height: 200px;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photos img {
    width: 100%;
}



