@font-face {
    font-family: Doggy;
    src: url("font/GOODDC__.TTF");
}
@font-face {
    font-family: DogIcon;
    src: url("font/candog_icon.ttf");
}
@font-face {
    font-family: TinDog;
    src: url("font/TinDog_body.ttf");
}

/* #DCDCDC light grey
    #2b2b2b dark grey
    #FB5706 orange
    #91cf97 green */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: TinDog, Verdana, monospace;
    font-size: larger;
    background-color: #EAFCAD;
}

/* header */
#top_image {
    background: url("../images/black_dog.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#top_page {
    font-family: Doggy, Verdana, monospace;
    width: 100%;
    color: #FB5706;
    margin-left: 20px;
    padding: 25px 0;
}

#top_page h1 {
    font-size: 170px;
    letter-spacing: 3px;
}

#top_page h2 {
    font-size: 95px;
    letter-spacing: 2px;
}

/* menu bar */
#main_menu {
    font-family: Doggy, Verdana, monospace;
	background-color: #1A2B00;
    font-size: 40px;
	text-align: center;
	padding: 1px;
}

#main_menu ul {
    margin: 10px;
}

#main_menu li {
    display: inline;
    list-style-type: none;
    padding: 0 15px;
}

#main_menu i {
    color: #FB5706;
    font-size: 28px;
}

.active {
    color: #FB5706;
}

/* article main page */
#main_page_article {
    margin: 30px 50px;
    display: inline-block;
}

#whatis {
    background-color: white;
    text-align: justify;
    text-indent: 20px;
    width: 43%;
    height: auto;
    padding: 25px;
    position: relative;
    float: left;
}

#whoweare {
    background-color: white;
    text-align: justify;
    text-indent: 20px;
    width: 43%;
    height: auto;
    padding: 25px;
    position: relative;
    float: right;
}

#whoweare a {
    color: black;
}

#whoweare a:hover {
    color: #FB5706;
    text-decoration: underline;
}

#main_page_article h2, #main_page_article h3 {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
}

/* contact us main page*/
#contact_us {
    clear: both;
    background-color: white;
    text-align: center;
    padding: 15px;
    margin: 15px 300px;
}

#contact_us h3 {
    text-transform: uppercase;
    padding-bottom: 5px;
}

#contact_us a {
    color: black;
}

#contact_us a:hover {
    color: #FB5706;
    text-decoration: underline;
}

/* top page */
#goto_top a {
    color: black;
}

#goto_top a:hover {
    color: #FB5706;
    text-decoration: underline;
}

/* links - rule for nav menu and footer */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #FB5706;
    text-decoration: underline;
}

/* footer */  
footer {
    font-family: Doggy, Verdana, monospace;
    background-color: #1A2B00;
    color: #FB5706;
    font-size: xx-large;
    text-align: center;
    letter-spacing: 2px;
    padding: 7px;
}

footer nav, footer div {
    padding: 7px 0;
}

#font {
    font-family: verdana, monospace;
    font-size: x-large;
}

/* classes page */
#whatweoffer_page {
    background-color: white;
    text-align: justify;
    margin: 30px 50px;
    padding-bottom: 2px;
}

#whatweoffer_page h2, #whatweoffer_page h3 {
    text-transform: uppercase;
    text-align: center;
}

#whatweoffer_page h3 {
    font-size: x-large;
    text-decoration: underline;
    padding-bottom: 20px;
}

#whatweoffer_page h4 {
    padding-top: 5px;
}

#whatweoffer_page p {
    text-indent: 20px;
}

#whatweoffer_page ul li {
    list-style-position: inside;
    list-style-image: url("../images/paw_icon.png");
}

#whatweoffer {
    text-align: center;
    margin: 30px 50px;
    padding: 30px;
}

#whatweoffer_page section {
    margin: 80px 50px;
}

#whatweoffer_page figcaption {
    font-size: small;
}

#whatweoffer_page figure {
    float: left;
    position: relative;
    margin-right: 30px;
}

.class_img {
    width: 250px;
    height: 200px;
}

/* images on gallery page */
#gallery {
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    height: 30px;
    margin: 30px 50px;
    padding: 20px;
}

#photos {
    margin: 30px 50px;
    clear: both;
    line-height: 2px;
    column-count: 4;
    column-gap: 0px;
}

#photos img {
    width: 100%;
    border: 2px solid #1A2B00;
}

/* booking page */
#booking_form {
	width: 750px;
	padding: 25px;
	margin: 25px auto;
	background-color: white;
    text-align: center;
}

#booking_form h5 {
    text-align: right;
}

#makea_booking {
    margin-bottom: 30px;
}

#makea_booking h2 {
    text-transform: uppercase;
}

legend {
    color: #FB5706;
	font-size: large;
	font-weight: 600;
	text-transform: uppercase;
	margin: 20px 0 10px 0;
}

fieldset {
    padding-bottom: 5px;
    border: .5px solid #FB5706;
    margin: 20px;
}

fieldset p {
    padding: 3px;
}

input[type=text], input[type=email], input[type=tel], textarea, #service_type {
    font-size: large;
    border: 1px solid;
}

input[type=submit], input[type=reset] {
    padding: 6px 10px;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: #FB5706;
    font-weight: bolder;
}

/* responsive elements */
@media screen and (max-width: 1400px) {

    #photos {
        columns: 3;
    }
}

@media screen and (max-width: 1000px) {

    #photos {
        margin: 20px 30px;
        columns: 2;
    }

    #gallery {
        margin: 20px 30px;
    }
    
    #top_page h1 {
        font-size: 110px;
    }

    #top_page h2 {
        font-size: 61px;
    }

    #top_image {
        height: 250px;
    }

    #contact_us {
        margin: 15px 100px;
    }
}

@media screen and (max-width: 833px) {

    #main_menu {
        font-size: 30px;
    }
    
    #main_menu i {
        color: #FB5706;
        font-size: 20px;
    }

    #booking_form {
        width: 550px;
    }

    #main_page_article {
        display: block;
    }

    #whatis, #whoweare {
        width: auto;
        position: inherit;
        float: none;
    }

    #contact_us {
        margin: 30px;
    }
}

@media screen and (max-width: 654px) {

    body {
        font-size: large;
    }

    #main_menu li {
        display: block;
    }

    #booking_form {
        width: 450px;
    }
    
    fieldset {
        margin: 20px 0;
    }

    textarea {
        width: 400px;
    }

    #whatweoffer {
        margin: 30px 15px;
        padding: 30px 0;
    }

    #whatweoffer_page, #main_page_article {
        margin: 30px 20px;
    }

    #whatweoffer_page section {
        margin: 30px 10px;
    }
    
    #whatweoffer_page figure {
        float: none;
        margin: auto;
        text-align: center;
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 608px) {

    #photos {
        columns: 1;
    }
}

@media screen and (max-width: 535px) {

    #booking_form {
        width: 270px;
    }

    textarea {
        width: 230px;
    }
}

@media screen and (max-width: 475px) {

    #top_page h1 {
        font-size: 80px;
    }

    #top_page h2 {
        font-size: 44px;
    }

    #top_page {
        padding: 70px 0;
    }
    
    .class_img {
        width: 150px;
        height: 100px;
    }
}

@media screen and (max-width: 410px) {

    footer a {
        padding: 70px;
    }

    footer div p {
        font-size: x-large;
    }

    #font {
        font-size: medium;
    }
}

@media screen and (max-width: 370px) {

    #top_image {
        height: 200px;
    }

    #top_page {
        padding: 50px 0;
        margin-left: 12px;
    }
    #top_page h1 {
        font-size: 70px;
    }

    #top_page h2 {
        font-size: 39px;
    }
}